In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as ply
%matplotlib inline
data_t_raw=pd.read_excel('trainのコピー.xls')
data_val=pd.read_excel('testのコピー.xls')
data_c_raw=pd.read_excel('conditionのコピー.xls')
data_t2=data_t_raw.copy(deep=True)
data_c2=data_c_raw.copy(deep=True)
data_t2.sort_values(by='id',inplace=True)
data_c2.sort_values(by='id',inplace=True)
data_2=pd.merge(data_t2,data_c2,how='inner')

In [3]:
data_2_J1=data_2[data_2.stage=='Ｊ１']
data_2_J2=data_2[data_2.stage=='Ｊ２']
data_2_J1.reset_index(drop=True,inplace=True)
data_2_J2.reset_index(drop=True,inplace=True)

In [4]:
import datetime
time1=datetime.time(9,0,0)
time2=datetime.time(15,0,0)
time3=datetime.time(18,0,0)
time4=datetime.time(23,59,59)

In [5]:
for i in range(len(data_2_J1['time'])):
    if time1<= data_2_J1['time'][i]<time2:
         data_2_J1['time'][i]=0
    elif time2<= data_2_J1['time'][i]<time3:
         data_2_J1['time'][i]=1
    elif time3<=  data_2_J1['time'][i]<time4:
         data_2_J1['time'][i]=2
    else:
         data_2_J1['time'][i]=3
            
tbin=pd.get_dummies(data_2_J1['time'],columns=['tbin1','tbin2','tbin3'])
tbin.columns=['tbinJ1_1','tbinJ2_2','tbinJ3_3']
tbin

/Users/yoshizawarikuto/.pyenv/versions/anaconda3-5.0.0/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/yoshizawarikuto/.pyenv/versions/anaconda3-5.0.0/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2862: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
/Users/yoshizawarikuto/.pyenv/versions/anaconda3-5.0.0/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/yoshizawarikuto/.pyenv/versions/anaconda3-5.0.0/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

     tbinJ1_1  tbinJ2_2  tbinJ3_3
0           1         0         0
1           1         0         0
2           1         0         0
3           1         0         0
4           1         0         0
5           1         0         0
6           0         1         0
7           0         0         1
8           1         0         0
9           1         0         0
10          1         0         0
11          1         0         0
12          1         0         0
13          1         0         0
14          0         1         0
15          0         1         0
16          0         1         0
17          0         0         1
18          1         0         0
19          1         0         0
20          1         0         0
21          1         0         0
22          0         1         0
23          0         1         0
24          0         0         1
25          0         1         0
26          0         0         1
27          1         0         0
28          1         0         0
29          0         1         0
..        ...       ...       ...
735         0         1         0
736         1         0         0
737         0         1         0
738         0         0         1
739         0         0         1
740         0         0         1
741         0         0         1
742         0         0         1
743         0         0         1
744         0         0         1
745         0         0         1
746         0         0         1
747         0         0         1
748         0         0         1
749         0         0         1
750         0         0         1
751         0         0         1
752         0         0         1
753         0         0         1
754         0         0         1
755         0         0         1
756         0         0         1
757         0         0         1
758         0         0         1
759         0         0         1
760         0         0         1
761         0         0         1
762         0         0         1
763         0         0         1
764         0         0         1

[765 rows x 3 columns]

In [6]:
data_2_J1_month=data_2_J1['gameday'].copy(deep=True)

In [7]:
for i in range(len(data_2_J1)):
    if '土' in data_2_J1['gameday'][i]:
         data_2_J1['gameday'][i]='土'
    elif '日' in data_2_J1['gameday'][i]:
         data_2_J1['gameday'][i]='日'
    elif '祝' in data_2_J1['gameday'][i]:
         data_2_J1['gameday'][i]='祝'
    else:
         data_2_J1['gameday'][i]='平日'

/Users/yoshizawarikuto/.pyenv/versions/anaconda3-5.0.0/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/yoshizawarikuto/.pyenv/versions/anaconda3-5.0.0/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2862: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
/Users/yoshizawarikuto/.pyenv/versions/anaconda3-5.0.0/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/yoshizawarikuto/.pyenv/versions/anaconda3-5.0.0/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/Users/yoshizawarikuto/.pyenv/versions/anaconda3-5.0.0/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [8]:
data_2_J1_holiday=pd.get_dummies(data_2_J1['gameday'])

In [9]:
for j in range(1,13):
    for i in range(len(data_2_J1)):
        if type(data_2_J1_month[i])==int:
            data_2_J1_month[i]+=0
        elif int(data_2_J1_month.str.split('/')[i][0])==j:
            data_2_J1_month[i]=j

In [10]:
data_2_J1_m=pd.get_dummies(data_2_J1_month)

In [11]:
data_2_J1_2=data_2[data_2.stage=='Ｊ１'].copy(deep=True)
data_2_J1_2.reset_index(drop=True,inplace=True)

In [12]:
for i in range(len(data_2_J1_2)):
    if '雨' in data_2_J1_2['weather'][i]:
        data_2_J1_2['weather'][i]='雨'
    else:
        data_2_J1_2['weather'][i]='雨でない'

/Users/yoshizawarikuto/.pyenv/versions/anaconda3-5.0.0/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/yoshizawarikuto/.pyenv/versions/anaconda3-5.0.0/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [13]:
data_2_weather_dum=pd.get_dummies(data_2_J1_2['weather'])

In [15]:
data_2_J1_sta_dum=pd.get_dummies(data_2_J1['stadium'])

In [25]:
data_2_J1_all=pd.concat([data_2_J1['id'],data_2_weather_dum,data_2_J1_sta_dum,tbin,data_2_J1_holiday,data_2_J1_m],axis=1)

In [26]:
data_2_J1_all.head()

,id,雨,雨でない,エコパスタジアム,エディオンスタジアム広島,キンチョウスタジアム,デンカビッグスワンスタジアム,ニッパツ三ツ沢球技場,ノエビアスタジアム神戸,ベストアメニティスタジアム,...,3,4,5,6,7,8,9,10,11,12
0,13994,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,13995,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,13996,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,13997,1,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,13998,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [27]:
from sklearn import svm, tree, linear_model, neighbors, naive_bayes, ensemble, discriminant_analysis, gaussian_process
from sklearn import model_selection
MLA = [
    #Ensemble Methods
    #ensemble.GradientBoostingClassifier(),
    ensemble.RandomForestClassifier(),
    
    #GLM
    #linear_model.LogisticRegressionCV(),
    #linear_model.RidgeClassifierCV(),
    
    #SVM
    #svm.SVC(probability=True),
    ]



#split dataset in cross-validation with this splitter class: http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.ShuffleSplit.html#sklearn.model_selection.ShuffleSplit
#note: this is an alternative to train_test_split
cv_split = model_selection.ShuffleSplit(n_splits = 10, test_size = .3, train_size = .6, random_state = 0 ) # run model 10x with 60/30 split intentionally leaving out 10%

#create table to compare MLA metrics
MLA_columns = ['MLA Name','MLA Train Accuracy Mean', 'MLA Test Accuracy Mean']
MLA_compare = pd.DataFrame(columns = MLA_columns)

#create table to compare MLA predictions
MLA_predict = data_2_J1_all

#index through MLA and save performance to table
row_index = 0
for alg in MLA:

    #set name and parameters
    MLA_name = alg.__class__.__name__
    MLA_compare.loc[row_index, 'MLA Name'] = MLA_name
    
    #score model with cross validation: http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_validate.html#sklearn.model_selection.cross_validate
    cv_results = model_selection.cross_validate(alg, data_2_J1_all, data_2_J1['y'], cv  = cv_split)

    MLA_compare.loc[row_index, 'MLA Time'] = cv_results['fit_time'].mean()
    MLA_compare.loc[row_index, 'MLA Train Accuracy Mean'] = cv_results['train_score'].mean()
    MLA_compare.loc[row_index, 'MLA Test Accuracy Mean'] = cv_results['test_score'].mean()   
    #if this is a non-bias random sample, then +/-3 standard deviations (std) from the mean, should statistically capture 99.7% of the subsets


    #save MLA predictions - see section 6 for usage
    alg.fit(data_2_J1_all, data_2_J1['y'])
    MLA_predict[MLA_name] = alg.predict(data_2_J1_all)
    
    row_index+=1

    
#print and sort table: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html
MLA_compare.sort_values(by = ['MLA Test Accuracy Mean'], ascending = False, inplace = True)
MLA_compare
#MLA_predict

,MLA Name,MLA Train Accuracy Mean,MLA Test Accuracy Mean,MLA Time
0,RandomForestClassifier,0.983007,0.00173913,0.068014